html {
  box-sizing: border-box;
  font-size: 17px;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #EFEFEF;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  font-size: 17px;
  margin: 0;
}
.container {
  /*width: 100vw;
  height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#list {
  width: 100%;
  flex: 1;
  list-style: none;
  padding: 15px;
  padding-bottom: 95px;
  margin: 0;
}
#list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border: solid 1px #ebebeb;
  padding: 15px;
  margin: 1px;
}
#list .item .name {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#list .item .time {
  color: silver;
}
#list .item .remove {
  color: silver;
  cursor: pointer;
  padding-left: 10px;
}
#list .item .delete:hover {
  color: red;
}
.item-enter {
  opacity: 0.01;
}
.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-leave {
  opacity: 1;
}
.item-leave.item-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
#input {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  font-size: 30px;
  padding: 0 30px;
}
