body {
  background: #EFEFEF;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.input {
  font-size: 35px;
  text-align: center;
}
